


<!-- Footer -->
<footer class="page-footer font-small grey lighten-3 py-4 dark-grey-text">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="font-weight-bold mb-0">MDB</h3>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
          	<a class="mx-3" role="button">About</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Blog</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Policy</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2">© 2019.
          <a class="dark-grey-text" href="https://mdbootstrap.com/education/bootstrap/"> All rights reserved.</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->
  <!--Section: Content-->
  <section class="dark-grey-text p-3 z-depth-1 navbar-fixed-bottom">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mb-4 mb-md-0">

        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" class="img-fluid" alt="smaple image" >
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-7 mb-lg-0 mb-3">

        <!-- Form -->
        <form class="" action="">

          <!-- Section heading -->
          <h3 class="font-weight-bold my-3">Subscribe</h3>

          <p class="text-muted mb-4 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae, fuga similique quos aperiam tenetur quo ut rerum debitis.</p>

          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-md btn-primary rounded-right m-0 px-3 py-2 z-depth-0 waves-effect" type="submit" id="button-addon2">Button</button>
            </div>
          </div>
          <small class="form-text black-text"><strong>* Leave your email addres to be notified first.</strong></small>

        </form>
        <!-- Form -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


